body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(150deg, #02fbfb, #234255);
}

#app{
    width: 450px;
    margin: 40px auto;
    text-align: center;
    border: none;
    border-radius: 15px;
    background: linear-gradient(120deg, #3152e6,#8f70c1);
    color: #fff;
    padding: 15px;
}